# PDFs should be generated using Latex
*.pdf

# latex compilation garbage
*.aux
*.log
*.toc

# intermediate latex files
ewrite/ewrite-tutorial.tex

# vim swapfiles
.*.sw?

# random stuff that shouldn't be added to the repo
*/auto/*.el

